@font-face {
  font-family: 'OperatorMonoLig';
  src: url('../fonts/OperatorMonoLig-Light.otf') format('opentype');
}

body {
  background: linear-gradient(to left, #b224ef 0%, #7579ff 100%);
  font-family: 'OperatorMonoLig', sans-serif;
}

.profile {
  align-items: center;
  animation: Animation 2s 1 0s linear;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 25vh;
}

.img {
  border-radius: 100%;
  box-shadow: 0 0 20px white;
  width: 9.375em;
}

.profile h1 {
  color: white;
  font-size: 0.7em;
  letter-spacing: 5px;
  margin-top: 40px;
  text-shadow: 0 0 20px white;
}

@keyframes Animation {
  0% {
    transform: translateY(-160%);
  }

  25% {
    transform: translateY(-120%);
  }

  50% {
    transform: translateY(-80%);
  }

  75% {
    transform: translateY(-40%);
  }

  100% {
    transform: rotate(xx) translateY(0);
  }
}

@media (min-width: 37.5rem) {
  .img {
    width: 18.75em;
  }

  .profile h1 {
    font-size: 2em;
  }
}

@media (min-width: 64rem) {
  .img {
    width: 14em;
  }

  .profile h1 {
    font-size: 3em;
  }
}
