@font-face {
  font-family: 'OperatorMonoLig';
  src: url('../fonts/OperatorMonoLig-Light.otf') format('opentype');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.is-boxed {
  background: #eeeeee;
}

.body-wrap {
  background: #ffffff;
  // Sticky footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.boxed-container {
  box-shadow: 0 16px 48px #dddddd;
  margin: 0 auto;
  max-width: 1440px;
}

body {
  font-family: 'OperatorMonoLig', sans-serif;
  margin: 0;
  padding: 0;
}
